.create-event-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #2c2c2c;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  .create-event-container h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #fff;
  }
  
  .event-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  label {
    color: #fff;
    font-size: 16px;
  }
  
  .input-field {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    background-color: #f5f5f5;
    color: black;
  }
  
  textarea.input-field {
    height: 100px;
    resize: none;
  }
  
.submit-button {
  background-color: blue;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.submit-button:hover {
  background-color: darkblue;
} 