@import './variables.css'; /* Import standardized css variables */

.App {
  text-align: center;
}

* {
  color: var(--clr-text-bright);                    /* Set default text color */
}

a {
  text-decoration: none;                            /* Removes the underline from links */
}

body {
  line-height: normal;                              /* Set default line height for text */
  height: auto;                                     /* Fill page if content isn't enough to fill the screen*/
  background-color: var(--clr-background-mid);      /* Main background color */
}

.Header {
  /* Visual design */
  background-color: var(--clr-background-dark);
  min-height: 4rem;
  font-size: 1.2rem;

  /* Positioning */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.header-title {
  font-size: 1.5rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

.nav {
  width: 50%;
  display: flex;
  flex-wrap: nowrap;
  align-items: left;
  font-size: 1.2rem;
}

.nav .btn {
  /* Visual design */
  height: 4em;
  width: 5em;
  background-color: var(--clr-background-bright);
  font-size: 1rem;

  /* Positioning */
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  /* Functionality */
  cursor: pointer;
}

.nav .btn:hover {
  background-color: var(--clr-text-dark);
}

.Login {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

.Login .btn {
  /* Visual design*/
  border: none;
  border-radius: 0.5em;
  height: 1em;
  background-color: lightblue;
  font-size: 1rem;

  /* Positioning */
  margin-left: 0.5em;
  margin-right: 0.5em;
  padding: 0.75em;
  display: flex;
  align-items: center;
  justify-content: center;

  /* Functionality */
  cursor: pointer;
}

.Login .btn p { /* The text inside the login-buttons */
  color: var(--clr-text-dark);
}

.Login .btn:hover {
  background-color: rgb(145, 180, 192);
}

.Content {
  /* Visual design */
  height: auto;
  width: 80%;
  max-width: 70rem;

  /* Border */
  border-radius: 1rem;
  /*border-left: 0.15rem solid var(--clr-background-dark);
  border-right: 0.15rem solid var(--clr-background-dark);*/

  /* Positioning */
  padding: 2.5rem;
  padding-top: 0;
  margin: auto;
  margin-top: 2rem;
  margin-bottom: 5rem;
}

@media (max-width: 625px) { /* When page is smaller than 625px */
  .header-title{
    font-size: 0; /* Remove text that don't fit the page*/
  }
}

.PageTitle {
  font-size: 2rem;
  padding-bottom: 2rem;
  padding-top: 2rem;

  border-radius: 1rem;
  border-bottom: 0.15rem solid var(--clr-background-dark);
  border-top: 0.15rem solid var(--clr-background-dark);
}