.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: large;
  color: white;
}

.header-title {
  margin-left: 1rem;
  font-size: x-large;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  width: 20%;
  
}

.nav {
  width: 80%;
  display: flex;
  flex-wrap: nowrap;
  align-items: left;
}

.nav button {
  margin: 0;
  border: none;
  height: 5rem;
  width: 7em;
  background-color: lightblue;

  font-size: medium;
  color: black;
  text-decoration: none;
}

.nav button:hover {
  background-color: rgb(145, 180, 192);
}
